.skills {
  text-align: center;
  padding: 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border-radius: 50%; /* Make it a circle */
  text-align: center;
  font-size: 1rem;
  transition: transform 0.3s;
  cursor: pointer;
  overflow: hidden; /* Ensure text doesn't overflow */
}

.skill-bubble:hover {
  transform: scale(1.1);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .skills {
    padding: 1rem; /* Reduce padding for smaller screens */
  }

  .skills-container {
    gap: 0.5rem; /* Reduce gap between bubbles for smaller screens */
  }

  .skill-bubble {
    width: auto !important;
    height: auto !important;
    padding: 1rem;
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .skills-container {
    flex-direction: column;
  }

  .skill-bubble {
    margin: 0.5rem 0;
    width: 70% !important; /* Adjust width to fit within screen */
    height: auto !important;
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }
}
